#topic
{
	font-size:2em;
	font-weight:bold;
	position:absolute;
	top:3%;
	right:10%;
}
#topic2
{
	color:rgb(156,85,87);
}
body
{
	background-color:rgb(245,240,239);
}
#index
{
	background-repeat:no-repeat;
	position:absolute;
	top:2%;
	left:2%;
	width:20vw;
	height:20vh;
}
#b1
{
	position:absolute;
	left:6%;
	top:15%;
}
#b2
{
	position:absolute;
	right:24%;
	top:32%;
}
#b3
{
	position:absolute;
	left:6%;
	top:49%;
}
#b4
{
	position:absolute;
	right:24%;
	top:66%;
}
#b5
{
	position:absolute;
	left:6%;
	top:83%;
}
.p_back
{
	width:30vw;
	height:30vw;
	border-radius:999em;
	background-color:white;
}

#p1
{
	position:absolute;
	left:29%;
	top:15%;
}
#p2
{
	position:absolute;
	right:10%;
	top:32%;
}
#p3
{
	position:absolute;
	left:29%;
	top:49%;
}
#p4
{
	position:absolute;
	right:10%;
	top:66%;
}
#p5
{
	position:absolute;
	left:29%;
	top:83%;
}
#bo1
{
	position:absolute;
	left:15%;
	top:15%;
}
#bo2
{
	position:absolute;
	right:24%;
	top:32%;
}
#bo3
{
	position:absolute;
	left:15%;
	top:49%;
}
#bo4
{
	position:absolute;
	right:24%;
	top:66%;
}
#bo5
{
	position:absolute;
	left:15%;
	top:83%;
}
.bottle
{
	width:20vw;
	height:20vh;
}
.name
{
	font-size:2em;
	font-weight:bold;
}
.price
{
	color:rgb(156,85,87);
}

