#topic
{
	font-size:2em;
	font-weight:bold;
	position:absolute;
	top:3%;
	right:10%;
}
#topic2
{
	color:rgb(156,85,87);
}
#topic3
{
	font-size:2em;
	font-weight:bold;
	position:absolute;
	top:3%;
	right:10%;
	display:none;
}
body
{
	background-color:rgb(245,240,239);
	margin:0px;
	padding:0px;
}
#index
{
	background-repeat:no-repeat;
	position:absolute;
	top:2%;
	left:2%;
	width:9vw;
	height:9vh;
	display:on;
}
#back
{
	background-repeat:no-repeat;
	position:absolute;
	top:4%;
	left:7%;
	width:4vw;
	height:4vh;
	display:none;
}
#b1
{
	position:absolute;
	left:6%;
	top:15%;
}
#b2
{
	position:absolute;
	left:47%;
	top:32%;
}
#b3
{
	position:absolute;
	left:6%;
	top:49%;
}
#b4
{
	position:absolute;
	left:47%;
	top:66%;
}
#b5
{
	position:absolute;
	left:6%;
	top:83%;
}
.p_back
{
	border-radius:999em;
	background-color:white;
}

#p1
{
	position:absolute;
	left:29%;
	top:20%;
}
#p2
{
	position:absolute;
	left:70%;
	top:37%;
}
#p3
{
	position:absolute;
	left:29%;
	top:54%;
}
#p4
{
	position:absolute;
	left:70%;
	top:71%;
}
#p5
{
	position:absolute;
	left:29%;
	top:88%;
}
#pp1
{
	position:absolute;
	left:29%;
	top:25%;
}
#pp2
{
	position:absolute;
	left:70%;
	top:42%;
}
#pp3
{
	position:absolute;
	left:29%;
	top:59%;
}
#pp4
{
	position:absolute;
	left:70%;
	top:76%;
}
#pp5
{
	position:absolute;
	left:29%;
	top:93%;
}

#bo1
{
	position:absolute;
	left:15%;
	top:15%;
}
#bo2
{
	position:absolute;
	left:56%;
	top:32%;
}
#bo3
{
	position:absolute;
	left:15%;
	top:49%;
}
#bo4
{
	position:absolute;
	left:56%;
	top:66%;
}
#bo5
{
	position:absolute;
	left:15%;
	top:83%;
}
.bottle
{
	width:20vw;
	height:20vh;
}
#c1
{
	position:absolute;
	left:6%;
	top:15%;
}
#c2
{
	position:absolute;
	right:24%;
	top:32%;
}
#c3
{
	position:absolute;
	left:6%;
	top:49%;
}
#c4
{
	position:absolute;
	right:24%;
	top:66%;
}
#c5
{
	position:absolute;
	left:6%;
	top:83%;
}
.cover
{
	width:30vw;
	height:19vh;
}
.product
{
	font-size:2em;
	font-weight:bold;
}
.price
{
	font-size:2em;
	font-weight:bold;
	color:rgb(156,85,87);
}
.price2
{
	position:absolute;
	top:95%;
	left:50%;
	width:35vw;
	color:white;
	font-size:2em;
	font-weight:bold;
	background-color:black;
	opacity:0.0;
}
.intro1
{
	position:absolute;
	top:40%;
	left:7%;
	width:40vw;
	color:black;
	font-size:2em;
	background-color:rgb(245,240,239);
	opacity:0.0;
}
.intro2
{
	position:absolute;
	top:50%;
	left:7%;
	width:40vw;
	color:black;
	font-size:2em;
	background-color:white;
	opacity:0.0;
}
#count
{
	position:absolute;
	top:95%;
	left:15%;
	width:23vw;
	color:white;
	font-size:2em;
	font-weight:bold;
	background-color:black;
	opacity:0.0;
}
#upcover
{
	position:absolute;
	top:10%;
	left:0%;
	width:100vw;
	height:40vh;
	color:white;
	background-color:rgb(245,240,239);
	display:none;
}




